name: Code Freeze CI

permissions:
  contents: read

on:
  pull_request:
    paths:
      - 'implementations/rust/ockam/**'
  merge_group:

defaults:
  run:
    shell: bash

env:
  RELEASE_LABEL_NAME: release
  ON_FREEZE_MODE: false

jobs:
  code_freeze_pr:
    name: Code Freeze Pull Request
    runs-on: ubuntu-22.04

    steps:
      - name: Block Rust Changes On Code Freeze
        if: ${{ env.ON_FREEZE_MODE == 'true' }}
        run: |
          set -ex

          label_name="${{ github.event.label.name }}"
          pr_actor="${{ github.event.pull_request.user.login }}"

          # If the PR is labeled as release and PR is create by a
          # Ockam team member, then pass.
          if [[ $label_name == "${{ env.RELEASE_LABEL_NAME }}" ]]; then
            ockam_team_members=$(gh api \
              -H "Accept: application/vnd.github+json" \
              /orgs/${{ github.repository_owner }}/teams/developers/members | jq -r '.[].login')

            if [[ $ockam_team_members == *"$pr_actor"* ]]; then
              exit 0
            fi
          fi

          exit 1
