name: Code Freeze CI

permissions:
  contents: read

on:
  pull_request:
  merge_group:

defaults:
  run:
    shell: bash

env:
  RELEASE_LABEL_NAME: release
  ON_FREEZE_MODE: false

jobs:
  code_freeze_pr:
    name: Code Freeze Pull Request
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout To Repo
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          fetch-depth: 0

      - name: Block Rust Changes On Code Freeze
        if: ${{ env.ON_FREEZE_MODE == 'true' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -ex

          default_branch=$(gh repo view --json defaultBranchRef --jq .defaultBranchRef.name  )
          if git diff origin/"$default_branch" --quiet --name-status -- implementations/rust/ockam; then
            echo "No Rust changes exiting now"
            exit 0
          fi

          # At this point, there's an update to this event
          # so we enforce code-freeze rules.
          # - Block if there is a Rust change
          # - Bypass if user is an Ockam member and labelled their
          # PR as release.
          merge_queue_branch="${{ github.ref_name }}"
          pr_number=""

          if [[ $merge_queue_branch =~ gh-readonly-queue.*/pr\-([0-9]*)\-.* ]]; then
            pr_number="${BASH_REMATCH[1]}"
            echo "PR number is $pr_number"
          fi

          pr_data=$(gh pr view $pr_number -R exchangen/ockam --json labels,author)

          labels=$(jq -r '.labels[].name' <<< $pr_data)
          pr_actor=$(jq -r '.author.login' <<< $pr_data)

          # If the PR is labeled as release and PR is created by a
          # Ockam team member, then pass.
          if [[ $labels == *"${{ env.RELEASE_LABEL_NAME }}"* ]]; then
            ockam_team_members=$(gh api \
              -H "Accept: application/vnd.github+json" \
              /orgs/${{ github.repository_owner }}/teams/developers/members | jq -r '.[].login')

            if [[ $ockam_team_members == *"$pr_actor"* ]]; then
              exit 0
            fi
          fi

          exit 1
